
.cart-grid{
  display: grid;
  grid-template-columns: 1fr 350px;
  max-width: 67em;
  margin: 0 auto; 
  column-gap: 30px;
  padding: 0 20px;
}

/*----------FIRST CONTAINER---------*/
.bag-items-container{
  display: flex;
  flex-direction: column;
}
.summary-container{
}
.bag-title{
  font-size: 1.55em;
  letter-spacing: .2px;
}
.item-container{
  display: flex;
  width: 100%;
  column-gap: 25px;
  letter-spacing: .4px;
  padding-bottom: 35px;
  padding-top: 25px;
  border-bottom: solid 1px rgb(216, 216, 216);
}
.price-container{
  flex:1;
}
.item-container img{
  width: 10em;
}
.item-details-container{
  background-color: white;
  display: flex;
  flex-direction: column;
  row-gap:10px;
}
.size-quantity-container{
  display: flex;
  margin-bottom: 1.3em;
  column-gap: 10px;
}
.size-container, 
.quantity-container,
.icons-container{
  display: flex;
  letter-spacing: .4px;
  align-items: center;
}
.size-container, 
.quantity-container{
  column-gap: 10px;
}
.icons-container{
  display: flex;
  column-gap: 15px;
}
.icons-container img{
  width: 1.3em;
  cursor: pointer;
}
.shoe-name{
  font-weight: 500;
}
.category,
.colorway,
.size-quantity-container{
  font-weight: 400;
  color:rgb(112, 112, 114);
  letter-spacing: .4px;
}
select {
  /* Hide the default arrow */
  appearance: none; 
  -webkit-appearance: none; /* For older versions of webkit-based browsers */
  -moz-appearance: none; /* For older versions of Firefox */
  background: url('../../images/nav/down.png') no-repeat right center; /* Replace 'path_to_your_arrow_image.png' with the path to your custom arrow image */
  background-size: 18px; /* Adjust the size of the arrow image */
  border: none; 
  font-size: .8.3em;
  color: inherit;
  padding-right: 30px; 
}
.price-container{
  display: flex;
  justify-content: right;
  padding-right: 5px;
  font-weight: 500;
}



/*-------SECOND CONTAINER-----*/
.summary-container{
  display: flex;
  flex-direction: column;
}
.summary-title{
  font-size: 1.50em;
  letter-spacing: .2px;
  padding-bottom: 30px;
}
.subtotal-container,
.delivery-container,
.total-container{
  display: flex;
  justify-content: space-between;
  color: rgb(57, 57, 57);
  letter-spacing: .4px;
  padding-bottom: 15px;
}
.delivery-container{
  border-bottom: solid 1px rgb(208, 208, 208);
  padding-bottom: 25px;
}
.total-container{
  padding: 20px 0;
  border-bottom: solid 1px rgb(208, 208, 208);
  margin-bottom: 25px;
}
.total-price{
  color: black;
}
.checkout-button{
  display: flex;
  justify-content: center;
  background-color: black;
  padding: 20px 20px;
  margin: 5px 0;
  border-radius: 50px;
  color: white;
  letter-spacing: .7px;
  transition: background-color .3s;
}
.checkout-button:hover{
  background-color: rgba(0, 0, 0, 0.733);
  cursor: pointer;
}




@media only screen and (max-width:950px){
  .cart-grid{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    padding: 0 20px;
  }
}
@media only screen and (max-width:513px){
  .item-container{
    grid-template-columns: 9.5em 15em ;
    position: relative;
  }

}